@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

body {
	background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
	background-size: 40%, 40%;
	background-repeat: no-repeat, no-repeat;
	background-position: top left, bottom right;
}

#wrapper {
	margin-top: 50vh; 
	margin-left: auto;
	margin-right: auto;
	transform: translateY(-50%);
	width: 75%;
	height: 75%;
	font-family: 'Spartan', sans-serif; 
}

.avatar {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 40px;
	left: 40px;
	border-radius: 50%;
}

h1 {
	font-size: 3rem;
	line-height: 3rem;
	color: hsl(300, 43%, 22%);
	margin: 0;
}

h2 {
	font-size: 1rem;
	line-height: 1.6rem;
	font-weight: 700;
	color: hsl(300, 24%, 96%);
	margin: 3px 0 0 65px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-bottom: 80px;
}

#intro {
	width: 40%;
}

#intro p {
	margin: 10px 0 0 0;
	font-size: 1rem;
	line-height: 1.6rem;
	font-weight: 500;
	color: hsl(303, 10%, 53%);
}

/* Stars review */

#ranking {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 40%;
	height: 220px;
}

.rank_container1 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.rank_container2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.rank_container3 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.rank {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 420px;
	height: 60px;
	background-color: hsla(333, 80%, 67%, 0.1);
	border-radius: 10px;
}

p.ranktext {
	color: hsl(300, 43%, 22%);
	font-size: 0.9rem;
	font-weight: 700;
	margin-left: 30px;

}

.stars {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 95px;
	height: 15px;
	background-image: url(images/icon-star.svg);
	background-size: contain;
	background-repeat: space;
}

/* Témoignages */

section {
	display: flex;
	justify-content: space-between;
	align-items: space-between;
	height: 300px;
}

.card_container1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.card_container2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card_container3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.card {
	position: relative;
	width: 320px;
	padding: 40px;
	background-color: hsl(300, 43%, 22%);
	border-radius: 10px;
	
}

.status {
	margin: 0 0 0 65px;
	color: hsl(333, 80%, 67%);
}

.comment {
	color: hsl(0, 0%, 100%);
	margin: 30px 0 0 0;
	font-size: 0.9rem;
	line-height: 1.6rem;
	font-weight: 500;
color: hsl(300, 24%, 96%);
}

.attribution {
	margin-top: 30px;
	font-size: 0.8rem;
}

/* for small devices */

@media all and (max-width: 500px)
{

	body {
		background-image: url(images/bg-pattern-top-desktop.svg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: top;
	}

	#wrapper {
       width: 375px;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
	   margin: 50px auto;
	   transform: none;
	   height: auto; 
	}
    

    header {
  		width: 100%;
  		display: flex;
    	flex-direction: column;
    	justify-content: flex-start;
    	align-items: center;
    	height: auto;
    }

	#intro {
		width: 100%;
		text-align: center;
	}

	#ranking {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
	}

	.rank_container1 .rank_container2 .rank_container3 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.rank {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		background-color: hsla(333, 80%, 67%, 0.1);
		border-radius: 10px;
	}

    section {
    	flex-direction: column;
    	justify-content: space-around;
    	align-items: center;
    }

	.rank {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.card {
		margin-bottom: 20px;
	}

}
